{% extends "base.html" %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}
<div class="container py-5 h-100" style="margin-top: 20px">
    <div class="row d-flex justify-content-center h-100">
          <div class="rounded text-black d-flex flex-row border border-4" style="background-color: skyblue;">
                <div class="row1">
                <h1 class="text text-black-50" style="margin-left: 15px">Friends</h1>
                    {% if no_friends %}
                        <h2 class="text-white m-3"> User have no friends yet </h2>
                    {% endif %}
                    {% for friend in get_friends %}
                        <div class="card flex-row flex-grow-1 mx-2 my-2  border border-4" style="background-color: #f8f9fa;">
                            <div class="card-img m-2 border border-4 rounded-circle" style="width: 100px; height: 100px">
                                <img class="img-fluid profile-image  rounded-circle"  src="{{ friend.photo.url }}" alt="">
                            </div>
                            <a class="profile-link " style=" margin-right: 150px; margin-top: 35px" href="{% url 'user_profile' friend.id %}">
                            <h3>{{ friend }}</h3>{{ friend.email }} </a>
                        </div>
                    {% endfor %}
                </div>
          </div>
    </div>
</div>