Pipfile.lock
/crossfit/.env
/db/migrations/0*.py
.idea
.env
/frontend/__pycache__/*.pyc
/crossfit/__pycache__/*.pyc
/db/__pycache__/*.pyc
/crossfit/__pycache__/*.pyc
/frontend/__pycache__/*.pyc


/media/gen*.png
/media/gen_users/*_g.png
/media/gen_users/gen_*.png
/media/gen_posts/*.*
/media/*.*
/media/media/*.jpg
/media/media/*.webp
/media/media/*.jpg
/media/media/*.jpg
