[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==4.0.6"
psycopg2 = "*"
python-dotenv = "*"
django-crispy-forms = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[requires]
python_version = "3.8"
