<script>
    function change_date_time_fields_to_ISO() {
        $(".date-time-picker-needed").each(
            function() {
                var d = new Date($(this).val());
                $(this).val(d.toISOString())
            }
        ); //$(".date-time-picker-needed").each(
    }

    $("#submit_button").click(
        change_date_time_fields_to_ISO
    ); //$("#submit_button").click(


    $(".date-time-picker-needed").each(
        function() {
            $(this).datetimepicker()
        }
    )
</script>