{% extends "base.html" %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}
<div class="container py-5 h-100" style="margin-top: 30px">
    <div class="row d-flex justify-content-center h-100">
          <div class="rounded text-black d-flex flex-row border border-4" style="background-color: skyblue;">
                <div class="row1">
                <h1>Friends</h1>
                    {% for friend in user.get_friends %}
                        <div class="card flex-row flex-grow-1 mx-2 my-2  w-100 border border-4">
                            <div class="card-img m-2">
                                <img class="img-fluid profile-image py-1 rounded-circle border" style="width: 100px; height: 100px; padding: 5px" src="{{ friend.photo.url }}" alt="">
                            </div>
                             <a class="profile-link" style="margin-right: 120px; margin-top: 35px" href="{% url 'user_profile' friend.id %}">
                                 <h3>{{ friend }}</h3>{{ friend.email }} </a><br/>
                        </div>
                    {% endfor %}
                </div>
          </div>
    </div>
</div>

{% endblock %}