{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container text-center">
    <img class="rounded" style="margin:15px; padding-top:42px" src="{% static 'img/banner_2.png' %}" width="1090px" />
</div>

<!-- Users list -->
<div class="container d-flex justify-content-center">

    
    <div id="users_row" class="row ">
       
    </div>
    
</div>
<!-- Users list end -->

<!-- Posts -->
<div id="post_container" class="container text-center">
</div>
<!-- Posts end -->


<script>
    function addUserHTML(user, ) {
        // console.log(user);
        old_html = $('#users_row').html();

        img = user.photo;
        if(user.photo == null) {
            img = '{% static 'img/generic_user_pic.png' %}';
        }

        bio_text = user.short_bio
        if(bio_text ==null || bio_text.length == 0) 
            bio_text = "No bio provided"

        view_user_profile_URL = "user/"

        usr_div_html = '<div class="col-2">'+
                            '<div class="card" style="width:160px;">'+
                                '<a href="#" class="link-dark">'+
                                '<img src="'+img+'" class="card-img-top" alt="..." height="138">'+
                                '<small class="card-title" style="padding:3px">'+user.username.slice(0, 14)+'</small>'+
                                '<div class="card-body">'+
                                    '<p class="card-text"><small  style="font-size:12px">'+
                                        bio_text.slice(0, 50)+'</small></p>'+
                                '</div>'+
                            '</a></div>'+
                        '</div>';

        $('#users_row').html(old_html+usr_div_html);
    }//function addUserHTML(user) {


    function loadAndShowUsers() {
        requestURL = "{% url 'home_page_rnd_users' %}"
        console.log("HomePageUserGeneration")
        $.ajax({
            type: "GET",
            url: requestURL,
            data : {
                csrfmiddlewaretoken : readCookie('csrftoken'),
            },
            success : function(data) {
                // console.log("Have users:")
                // console.log(data)
                for(user in data) {
                    addUserHTML(data[user]);
                    // break;
                }
            }//success : function(data) {
        });//$.ajax({
    }//function loadAndShowUsers() {

    function addPostHTML(post, post_view_base_URL) {
        console.log(post);
        old_html = $('#post_container').html();

        img = post.author.photo;
        if(post.author.photo == null) {
            img = '{% static 'img/generic_user_pic.png' %}';
        }

        post_view_URL = post_view_base_URL+post.id
        console.log("have URL for post:")
        console.log(post_view_URL)
        
        new_html = '<div class="row text-center " style="margin:15px">'+
                        '<div class="col-1"></div>'+
                        '<div class="col-1 border-bottom text-center">'+
                            '<img src="'+
                                        img+'" class="rounded-circle" alt="..." width="80px" heigth="60px">'+
                            '<p><a href="#" class="link-secondary">'+
                                post.author.username+
                                '</a> <br><small class="muted" style="font-size:9px;">'+
                                    post.date_created+
                                    '</small>'+
                            '</p>'+
                        '</div>'+
                        '<div class="col-9 border-bottom text-start" >'+
                            '<a href="'+post_view_URL+'/" class="link-dark">'+
                            '<p class="lead">'+
                                post.post_title.slice(0, 50)+
                            '</p></a>'+
                            '<p class="text-start">'+
                                post.post_text.slice(0, 300)+
                            '</p>'+
                        '</div>'+
                    '</div>';

        $('#post_container').html(old_html+new_html);
    };//function addPostHTML(post) {


    function loadAndShowPosts() {
        requestURL = "{% url 'home_page_rnd_posts' %}"
        console.log("HomePage Post Generation")
        $.ajax({
            type: "GET",
            url: requestURL,
            data : {
                csrfmiddlewaretoken : readCookie('csrftoken'),
            },
            success : function(data) {
                console.log("Have posts:")
                console.log(data)
                for(post_idx in data) {
                    addPostHTML(
                        data[post_idx],
                        'post/socialpost/'
                    )
                    // break;
                }
            }//success : function(data) {
        });//$.ajax({

    }//function loadAndShowPosts() {
    
    executeOnLoad(loadAndShowUsers)
    executeOnLoad(loadAndShowPosts)


</script>

{% endblock %}