{% extends "base.html" %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}
<div class="container py-5 h-100" style="margin-top: 30px">
    <div class="row d-flex justify-content-center h-100">
          <div class="rounded text-black d-flex flex-row" style="background-color: #84BFCE;">>
                <div class="row1">
                    {% if query %}
                        <h2 class="text-bg-info rounded-3" style="margin-top: 25px">You searched for - " {{ query }} "</h2>
                        <br/>
                        {% for account in accounts %}
                            <div class="card flex-row flex-grow-1 mx-2 my-2  w-100 border border-4">
                            <div class="card-img m-2">
                                <img class="img-fluid profile-image py-1 rounded-circle border" style="width: 100px; height: 100px; padding: 5px" src="{{ account.photo.url }}" alt="">
                            </div>
                             <a class="profile-link" style="margin-right: 120px; margin-top: 35px" href=" {% url 'user_profile' account.id %}">
                                 <h3>{{ account }}</h3>{{ account.email }} </a><br/>
                            {% if account == request.user %}
                                <div class="d-flex card-right  justify-content-end mx-2 h-25 w-100 border border-4 rounded-2" style="margin-top: 10px">
                                <p class="m-auto">
                                    Your profile
                                </p>
                                </div>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
          </div>
    </div>
</div>

{% endblock %}