{% extends "base.html" %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}
<div class="container py-5 h-100" style="margin-top: 30px">
    <div class="row d-flex justify-content-center h-100">
          <div class="rounded text-black d-flex flex-row border border-4" style="background-color: #84BFCE;">
                <div class="row1">
                    {% if query %}
                        <h2 class="text-bg-info rounded-3 border border-4 text-center w-100" style="margin-top: 25px; margin-left: 10px;">You searched for - " {{ query }} "</h2>
                        <br/>
                        {% for account in accounts %}
                            <div class="card flex-row flex-grow-1 mx-2 my-2  w-100 border border-4" style="background-color: #f8f9fa;">
                             <div class="card-img m-2 border border-5 rounded-circle" style="width: 100px; height: 100px">
                                <img class="img-fluid profile-image  rounded-circle"  src="{{ account.photo.url }}" alt="">
                            </div>
                             <a class="profile-link" style="margin-right: 50px; margin-top: 35px; margin-left: 10px" href=" {% url 'user_profile' account.id %}">
                                 <h3>{{ account }}</h3>{{ account.email }} </a><br/>
                            {% if account == request.user %}
                                <p class="mb-auto text-bg-warning rounded-1 border border-dark text-center w-25 fw-bold">You</p>
                            {% endif %}
                            {% if account in user.get_friends %}
                                <p class="mb-auto text-bg-warning rounded-1 border border-dark text-center w-25 fw-bold">Your friend</p>
                            {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
          </div>
    </div>
</div>
{% endblock %}