{% extends "base.html" %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert-success" role="alert">
{{ message }}
</div>
{% endfor %}
{% endif %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #84BFCE; height:203px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 145px;">
              <img class="border border-5 account-img" src="{{ user.photo.url }}"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
            </div>
            <div class="ms-4" style="margin-top: 115px;">
               <h1 class="account-heading">{{user.username}}</h1>
              <p>Birth date: {{user.birthday}}</p>
            </div>
          </div>
          <div class="p-3 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <p class="button" >
                   <a class=" btn btn-outline-dark" style="margin-bottom: 28px" href="{% url 'edit' user.id %}">Edit Profile</a>
              </p>
              <div style="margin-right: 20px; margin-left: 45px;">
                <p class="mb-1 h5" >email</p>
                  {% if is_self %}
                    <p class="text-muted mb-0">{{ user.email }}</p>
                  {% else %}
                    {% if hide_email %}
                        <h5>***********</h5>
                    {% else %}
                    {% endif %}
                      <p class="text-muted mb-0">{{ user.email }}</p>
                  {% endif %}

              </div>
              <div class="ms-4" style="margin-right: 50px;">
                  <p class="mb-1 h5" >phone number</p>
              <p class="text-muted mb-0">+38 {{user.phone}} </p>
              </div>
              <div>
                <p class="mb-1 h5">20</p>
                <a class="btn btn-outline-dark" href="{% url 'friends_list' %}">Friends</a>
              </div>
              <div class="px-3" style="margin-left: 10px;">
                <p class="mb-1 h5">3</p>
                <a class="btn btn-outline-dark" href="#">Posts</a>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="text-secondary">{{ user.short_bio| linebreaks }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent posts</p>
              <p class="mb-0"><a href="#!" class="text-muted">Show all</a></p>
            </div>
            <div class="p-3 text-black" style="background-color: #f8f9fa;">
                <img src="https://d2z0k43lzfi12d.cloudfront.net/blog/vcdn350/wp-content/uploads/2020/06/blog_thumbnail_run-for-the-oceans_beginner-running_1200x800.jpg.webp"
                  alt="image 1" class="w-100 rounded-3">
                  <p>This was amazing run, thank you all guys!</p>
                  <p>Getting back to the start line of a race, or to the field of play, should not be a race at all. Easier said than done.</p>
                  <p class="small text-muted"> 12.05.2022</p>
              </div>
              </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</section>
{% endblock %}

