{% extends "base.html" %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

{% block content %}

<!-- User profile -->
<section class="gradient-custom-2">
  <div class="container">
    <div class="row justify-content-center align-items-center" style="margin-top: 60px">
      <div class="col-9">
        <div class="card">

          <!-- User picture and username + messages -->
          <div class="row text-white">
            <div class="col-12">
                  {% if messages %}
                  {% for message in messages %}
                  <div class="alert-success" role="alert" style="color: #ffcd39; margin-left: 250px">
                  <h2>{{ message }}</h2>
                  </div>
                  {% endfor %}
                  {% endif %}
              <div class="rounded-top border border-2" style="background-color: #84BFCE; padding:10px; height:175px">
                <img class="float-start border border-3 rounded-2 account-img" src="{{ photo.url }}"
                  alt="Generic placeholder image" style="width: 150px; height: 150px; margin: 5px">
                <div class="ms-4">
                  <h1 class="account-heading" style="margin-top: 113px;">{{username}}</h1>
                </div>
              </div>
            </div>
          </div>

          <!-- User data and buttons -->
          <div class="card-body">
          <div class="col-auto ">
            <div class="row rounded" style="background-color: #f8f9fa; padding: 15px">
              <div class="col-2 ">
                <a class="btn btn-outline-dark" style="margin-left: 5px"
                  data-mdb-ripple-color="dark" href="{% url 'edit' %}">Edit Profile</a>
              </div>
              <div class="col-2" style="margin-left: 120px; margin-right: 10px">
                <p class="mb-1 h5">email</p>
                {% if self_page %}
                    <p class="text-muted mb-0">{{ email }}</p>
                {% else %}
                {% if hide_email %}
                    <h5>***********</h5>
                {% else %}
                    <p class="text-muted mb-0">{{ email }}</p>
                {% endif %}
                {% endif %}
              </div>
              <div class="col-3">
                <p class="mb-1 h5">phone number</p>
                {% if self_page %}
                    <p class="text-muted mb-0">+38 {{phone}} </p>
                {% else %}
                {% if hide_phone %}
                    <h5>***********</h5>
                {% else %}
                    <p class="text-muted mb-0">+38 {{phone}} </p>
                {% endif %}
                {% endif %}
              </div>
              <div class="col-1" style="margin-right: 30px; margin-left: 50px">
                <a class="btn btn-outline-dark" href="{% url 'friends_list'%}" style="margin-right: 20px">Friends</a>
                  <p class="mb-1 h5" style="margin-left: 25px">20</p>
              </div>
              <div class="col-1" style="margin-right: 20px">
                  <a class="btn btn-outline-dark" href="#">Posts</a>
                  <p class="mb-1 h5" style="margin-left: 25px">3
                </p>
              </div>
            </div>
          </div>

              <div class=" col-12 float-start justify-content-start  text-start" style="margin-top: 40px; margin-left: 5px">
                <h5>Self information</h5>
              </div>
            <div class="row">
              <div class="col-12">
                <div class="p-2" style="background-color: #f8f9fa; border-radius: 10px;">
                  <p class="text-secondary ">{{ short_bio| linebreaks }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row text-center " style="margin:30px;">
    <div class="col-5" style="text-align: center">
      <h5>Recent posts</h5>
    </div>
  </div>
</div>

<!-- User posts -->
<div class="container" id="posts_container">

</div> <!-- id="posts_container" -->



<script src=" {% static 'js/post_short_moustashe_template.js' %}"></script>

<script>
  

  function addUserPost(post) {
    
    img = '{% static 'img / generic_user_pic.png' %}'
    
    if (post.post_photo == null) {
      img = post.post_photo;;
    }

    author_img = post.author.photo;
    if (post.author.photo == null) {
      author_img = '{% static 'img / generic_user_pic.png' %}';
    }

    post_view_URL = "{% url 'create_social_post' %}"+post.id

    if(post.post_type == 'training') {
      post_view_URL = "{% url 'create_training_post' %}"+post.id  
    }

    params = {
      imageURL: author_img,
      date_created: formatDateForPostPreview(post.date_created)[1]+' ago',
      userName: post.author.username,
      post_title: post.post_title.slice(0, 70),
      post_text: post.post_text.slice(0, 300),
      post_viewURL : post_view_URL,
    }

    new_html = Mustache.render(short_post_html_template, params);
    old_html = $('#posts_container').html();
    $('#posts_container').html(old_html + new_html);
  };//function addUserPost(post) {



  function initUserPosts() {
    // console.log("Retrieving User Posts");
    requestURL = '{% url 'userposts' %}';
    $.ajax({
      type: "GET",
      url: requestURL,
      data: {
        csrfmiddlewaretoken: '{{ csrf_token}}',
      },
      datatype: 'json',
      success: function (data) {
        // console.log("Have user posts data")
        // console.log(data)

        for (postIdx in data) {
          addUserPost(data[postIdx]);
        }
      },//success : function(data) {
      error: function (xhr, status, error) {
        let notifier = new AWN()
        notifier.alert('Retrieving user posts failed.<br>Please login to post comments.');
      }//error : function(xhr,status,error) {
    });//$.ajax({
  }//function initUserPosts() {

  executeOnLoad(initUserPosts)
</script>

{% endblock %}