{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container " style="padding-top:92px">
    <!-- justify-content-center -->
    <div class="row ">
        <div class="col-2 text-center">
            <img src="{{ post.author.photo.url }}" class="rounded-circle" alt="..." width="50px" heigth="40px">
            <p>
                <a href="{% url 'user_profile' %}" class="link-secondary">
                    <small class="muted" style="font-size:10px;">{{ post.author.username}}</small>
                </a>
                <br>
                <small class="muted" style="font-size:9px;">
                    {{post.date_created}}
                </small>
            </p>
        </div>
        <div class="col-9 text-left align-self-end">
            <h2 class="align-text-top">{{post.post_title}}</h2>
        </div>
        {% if editable %}
        <div class="col-1  align-self-end text-end">
            <small><a href=# class='link-light'>edit post</a></small>
            <!-- TODO: make edit link work for post -->
        </div>
        {% endif %}
    </div>
    <div class="row border" style="margin:20px">
        <div class="col-6 text-left">
            Training started: <span id="datetime_started"></span>
            Training finished: <span id="datetime_finished"></span><br>
            Duration: <span id="training_duration"></span>
        </div>
        
        <div class="col-6 text-end">
            <!-- Running post additional information -->
            <div id='running_additional_info' hidden >
                <div class="col-6 text-center align-self-end">
                    <img src="{% static 'img/template_types/running_post.png' %}" />
                </div>
                <div class="col-3 text-center">
                    Total KM ran: <span id="total_km_ran"></span>
                </div>
            </div>

            <!-- Hiking post additional information -->
            <div class="row" id='hiking_additional_info' hidden >
                <div class="col-3 text-left align-self-start">
                    <img src="{% static 'img/template_types/hiking_post.png' %}" />
                </div>
                <div class="col-9 text-right">
                    <p>Hike location: <span id="hike_location"></span></p>
                    <p>Max elevation: <span id="max_elevation"></span></p>
                    <p>Total KM walked: <span id="total_km_walked"></span></p>
                </div>
            </div>

            <!-- Hiking post additional information -->
            <div class="row" id='swimming_additional_info' hidden >
                <div class="col-3 text-left align-self-start">
                    <img src="{% static 'img/template_types/hiking_post.png' %}" />
                </div>
                <div class="col-9 text-right">
                    <p>Swim location: <span id="swimming_location"></span></p>
                    <p>Total KM swum: <span id="total_km_swum"></span></p>
                </div>
            </div>




        </div>

        
        
    </div>

    
    <!-- Post text -->
    <div class="row ">
        <div class="col-12" style="text-align: justify;">
            <img src="{{post.post_photo.url}}" class="float-start" style="max-width:400px; padding: 10px">
            <span id="post_text" style="white-space: pre;"></span>
        </div>
    </div>
    
    <!-- Comments enter form -->
    <div class="row" style="padding-top:15px;">
        {% if request.user.photo %}
            <div class="col-1" style="text-align: justify; ">
                <img src="{{ request.user.photo.url }}" class="float-end rounded-circle" alt="..." width="50px" heigth="40px">
            </div>
            <div class="col-10" style="text-align: justify;">
                <textarea id="post_comment_text" name="post_text" cols="40" rows="3" class="form-control" placeholder="Comment" id="id_post_text"></textarea>
            </div>
            <div class="col-1 align-self-end" style="text-align: justify;">
                <input id="post_comment" type="button"class="btn btn-primary" name="Post comment" value="Send">
            </div>
            <!-- Comments enter form END-->
        {% else %}
            <div class="col-12" style="text-align: justify;">
                <h6>Comments are not allowed for unauthenticated users</h6>
            </div>
        
        {% endif%}
    </div>
    
    
    
    <!-- Old comments -->
    <div id="old-comments-row" class="row ">
        
    </div>
    <!-- Old comments end -->

    <script>
        function initComments() {
            getComments(
                "{% url 'post_comments' post.id %}",
                post_type = 'training'
            );
            registerPostCommentHandler(
                requestURL = "{% url 'post_comments' post.id %}",
                usr_photo_url = "{{ request.user.photo.url }}",
                post_type = 'training',
                csrf_token = "{{ csrf_token }}"
            )
        };//function initComments() {

        function initPostView() {
            queryString = window.location.search;
            urlParams = new URLSearchParams(queryString);
            console.log("id=", urlParams.get('id'))
            post_id = urlParams.get('id');
            post_type = urlParams.get('post_type');
            console.log("token:", cross_fit_env.csrftoken)
            console.log("post_type:", post_type)


            $.ajax({
                type: "GET",
                url: cross_fit_env.urls.getTrainingPostAPIURL,
                data : {
                    id : post_id,
                    post_type : post_type, 
                    csrfmiddlewaretoken: cross_fit_env.csrftoken,
                },
                datatype: 'json',
                success : function(data) {
                    console.log(data);

                    $("#datetime_started").html(data.datetime_started)
                    $("#datetime_finished").html(data.datetime_finished)
                    $("#post_text").html(data.post_text)

                    if(data.post_type == 'running') {
                        console.log("this is running post")
                        $("#running_additional_info").removeAttr('hidden');
                    }

                    if(data.post_type == 'hiking') {
                        console.log("this is hiking post")
                        $("#hiking_additional_info").removeAttr('hidden');
                        $("#total_km_walked").html(data.total_km_walked);
                        $("#hike_location").html(data.hike_location);
                        $("#max_elevation").html(data.max_elevation);
                    }

                    if(data.post_type == 'swimming') {
                        console.log("this is swimming post")
                        $("#swimming_additional_info").removeAttr('hidden');
                        $("#total_km_swum").html(data.total_km_swum);
                        $("#swimming_location").html(data.swimming_location);
                    }
                    
                },//success : function(data) {
                error : function(xhr,status,error) {
                    console.log("AJAX error occurred");
                    let notifier = new AWN() 
                    notifier.alert('Comment post failed.<br>Please login to post comments.');
                }
            });//$.ajax({ 

        }//function initPostView() {
        
        executeOnLoad(initPostView);
        executeOnLoad(initComments);
    </script>
</div>
{% endblock %}